/* Fixes */

.fa-long-arrow-alt-right {
    margin-left: 20px;
}

.navigation {
    padding-top: 30px;
}

@media only screen and (max-width: 800px) {
    .navigation {
        margin-top: 0px;
    }

    .hide-mobile {
        display: none;
        width: 0;
        font-size: 0;
        visibility: hidden;
    }
}


.navigation .button {
    margin-top: 6px;
    padding: 1.2rem 1.4rem;
    border: 1px solid #4D4D4D;
    color: #4D4D4D;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}


#intro {
    min-height: 500px;
    width: 100%;
    background-color: #f6f9fc;
    background: linear-gradient(to bottom, #dfe6e9, #f6f9fc);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    height: auto;
    opacity: 1;
    transform: translate(0);
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    transition-duration: 1.6s;
    transition-timing-function: ease;

}

#intro::before {
    bottom: 0;
    min-height: 500px;
    width: 300%;
    overflow: hidden;
    background-image: url(../images/waves.svg);
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

#intro section {
    padding: 7rem 0 0 0;
}

#intro h1 {
    font-size: 5.4rem;
}

#intro .button-highlight {
    margin: 2rem 5rem 0 0;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    position: absolute;
}

#intro .button-hightlight:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);  
}

#menu {
    transform: translate(0);
    transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);
    transition-duration: 1.6s;
    transition-timing-function: ease;
}

@media only screen and (min-width: 800px) {
    .fixed {
        position: fixed;
        top: 0px; 
        z-index:2; 
    }
    
    #content {
        max-width: calc(100% - calc(100% / 3));
    }

    .extra-margin {
        margin-left: calc(100% / 3);
    }
}


#content a:hover{text-decoration: none;}
#content section {padding: 0;}
#content h3 {
    margin-top: 5rem;
}