


// Initial
// Defining a base font-size of 62.5% to have the convenience of sizing rems in a way that is similar to using px.
html { 
    font-size: 62.5%; 
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
  background-color: $background-color;
  font-family: $font-family;
  font-size: $font-size-small;
  line-height: $line-height;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
}

    @include breakpoint-desktop-up {
        body {
            font-size: $font-size;
        }
    }
 

// Container
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: $container-padding;
}
    @include breakpoint-phone-up {
        .container {
            max-width: 80%;
        }
    }
    @include breakpoint-desktop-up {
        .container {
            max-width: 75%;
        }
    }

.has-full-width {
    width: 100%;
    max-width: 100%;
}
    @include breakpoint-phone-up {
       .container.has-full-width {
            padding: 0;
        }
    }

.has-small-width {
    max-width: $mobile;
}

// Margins and Padding
p,ol,ul,dl,table {
    margin: $basic-elements-margin;
}

section {
    padding: $section-padding;
}

// hr
hr {
    margin: $hr-margin;
    border-width: 0;
    border-top: $hr-border;
}

// Highlight
mark {
	background: $highlight-color;
	padding: $mark-padding;
}

// Highlight selection
::selection {
    background: $highlight-color; 
  }
::-moz-selection {
    background: $highlight-color; 
  }

// Code preview
pre {
	width: 100%;
	overflow: auto;
	overflow-y: hidden;   
    overflow: auto;
    padding: $pre-padding;
    font-size: $pre-font-size;
	margin: $pre-margin;    
    background: $pre-background-color;  
    color: $pre-font-color;  
}

code {
    background-color: $code-background-color;
    color: $code-font-color;
    padding: $code-padding;
}

// From PrismJS
code, pre {
    @extend .text-left;
    text-shadow: $code-text-shadow;
    font-family: $code-font-family;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
	line-height: $code-line-height; 
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}