fieldset {
    border: 0;
    padding: 0;
}

label {
    font-weight: $label-font-weight;
    max-width: 100%;
    display: block;
    margin: $label-margin;
    font-family: $font-family;
    font-size: $font-size-small;
    line-height: $line-height;
    color: $font-color;
    -webkit-font-smoothing: antialiased;    
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea {
    @extend .has-border;
    display: block;
    border-radius: $input-border-radius;
    padding: $input-padding;
    outline: none;
    background: transparent;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 100%;
    font-family: $font-family;
    font-size: $font-size-small;
    line-height: $input-line-height;
    color: $font-color;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -ms-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;    
    &:focus {
        box-shadow: $input-focus-box-shadow;
        border: $input-focus-border;
    }
}

select {
    height: $input-select-height;
}

// Validation
.is-valid { 
    box-shadow: $input-valid-box-shadow;
    border: $input-valid-border;
}

.is-invalid {
    box-shadow: $input-invalid-box-shadow;
    border: $input-invalid-border;    
}