// Styling
.has-shadow {
    -webkit-box-shadow: $default-box-shadow;
    box-shadow: $default-box-shadow;
}

.has-border {
    border: $default-border;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.background-color-secondary {
    background-color: $background-color-secondary;
}

// Display
.clearfix {
    clear: both;
}

.is-shown {
	display: block !important;
}

.is-hidden {
	display: none !important;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.is-desktop-only {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
}
@include breakpoint-phone-up {
    .is-desktop-only {
         display: block;
         visibility: visible;
         width: auto;
         height: auto;
     }
 }


// Padding and Margins
.has-padding {
    padding: $default-padding !important;
}

.has-margin {
    margin: $default-margin !important;
}

.has-no-margin {
    margin: 0 !important;
}

.has-no-padding {
    padding: 0 !important;
}


// Text alignment
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}
