.navigation {
  @extend .text-left;
  height: $navigation-height;
  background: $navigation-background-color;
  padding: $navigation-padding-mobile;
  color: $navigation-font-color;
  font-size: $navigation-font-size;
  section {
      padding: 0;
  }
  h1, h2, h3, h4, h5, h6 {
      color: $navigation-heading-font-color;
  }
}

@include breakpoint-desktop-up {
  .navigation {
      text-align: left;
      padding: $navigation-padding-desktop;
  }
}



// Logo and branding
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $navigation-line-height;
  text-transform: uppercase;
  font-size: $logo-font-size;
  a,
  a:visited {
    color: $logo-font-color;
    text-decoration: none;
  }
}


nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        line-height: $navigation-line-height;
        display: block;
        padding: $navigation-link-padding;
        text-decoration: none;
        color: $navigation-link-color;
        &:hover {
          color: $navigation-link-hover-color;
          text-decoration: none;
        }
      }
    }
  }
}


@media only screen and (max-width: $tablet-portrait) {
.navigation .container {
  width: 100% ;
  padding: 0;
}
nav {
  clear: both;
  width: 100%;
  margin: 50px 0;
  background: $navigation-mobile-background-color;
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

nav li {
      display: block;
      clear: both;
      width: 100%;
      a,
      a:visited {
        padding: $navigation-mobile-link-padding !important;
        color: $navigation-mobile-link-color !important;
      }
      &:hover {
        background-color: $navigation-mobile-nav-hover-color;
      }
    }
}