header {
    @extend .text-left;
    height: 50px;
    background: $header-background-color;
    padding: $header-padding-mobile;
    color: $header-font-color;
    font-size: $header-font-size;
    section {
        padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $header-heading-font-color;
    }
}

@include breakpoint-desktop-up {
    header {
        text-align: left;
        padding: $header-padding-desktop;
    }
}


// Logo and branding
.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 1.6;
    text-transform: uppercase;
    font-size: 1.4em;
    a,
    a:visited {
      color: inherit;
      text-decoration: none;
    }
  }
  

nav {
    float: right;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        position: relative;
        a,
        a:visited {
          display: block;
          padding: 0 20px;
          line-height: 1.6;
          text-decoration: none;
          &:hover {
            background: #ff0000;
            color: #000000;
          }
        }
      }
    }
  }
  