caption {
    @extend .text-left;
    font-style: $table-caption-font-style;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
}

thead, tfoot {
    @extend .text-left;
    color: $table-heading-font-color;
    vertical-align: bottom;
}

tfoot {
    font-weight: $table-footer-font-weight;
}

td:first-child, .th:first-child {
    border-left-width: 0;
}

th:last-child, td:last-child {
    padding-right: 0;
}

tr:hover {
    background-color: $table-row-hover-background;
}

th, td {
    @extend .text-left;
    padding: $table-cell-padding;
    border-bottom: $table-cell-border;
    font-size: inherit;
    color: inherit;
    margin: $table-cell-margin;
    overflow: visible;
}

td {
    background-color: $table-cell-background;
}