// Sizing
$mobile: 600px;
$tablet-portrait: 800px;
$desktop: 1000px;
$widescreen: 1200px;
$fullhd: 1800px; 


// Initial
$background: #ffffff;
$font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$font-color: #404040;
$font-size: 1.8rem;
$font-size-small: 1.6rem;
$line-height: 1.5;

// Container
$container-padding: 0 10px;