// Sizing
$mobile: 600px;
$tablet-portrait: 800px;
$desktop: 1000px;
$widescreen: 1200px;
$fullhd: 1800px; 


// Initial
$background: #ffffff;
$font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$font-color: #404040;
$font-size: 1.7rem;
$font-size-small: 1.6rem;
$line-height: 1.6;
$default-margin: 1.5rem;


// Container
$container-padding: 0 10px;


// Typography
$heading-font-weight: 600;
$heading-font-color: #333447;
$heading-line-height: 1.25;

$h1: 4.8rem;
$h2: 3.6rem;
$h3: 2.4rem;
$h4: 2rem;
$h5: 1.6rem;
$h6: 1.4rem;